_build/
*.install
dune-workspace.lock
dune-project.lock

*.cmo
*.cmx
*.cma
*.cmxa
*.cmi
*.cmti
*.o
*.a
*.so
*.objinfo
*.annot
*.asm
*.opt

_opam/
*.opam.locked

.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
.merlin
.ocamlformat
.ocp-indent

*~
\#*\#
.\#*

[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
*.vim
.vim/
Session.vim
Sessionx.vim
.netrwhist

.lsp/

*.bak
*.tmp
*.log
.#*

.DS_Store
.AppleDouble
.LSOverride

.directory

Thumbs.db
ehthumbs.db
Desktop.ini

_doc/
*.odoc

*.coverage
_coverage/

_darcs/
*.native
*.byte
*.top

TAGS
tags
.tags
.TAGS

lib_bundle/
vendor/